

<nav class="navbar navbar-default {{ (app.request.attributes.get('_route') == 'fos_user_security_login') ? 'hidden' }}">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--
            <a class="navbar-brand" href="#">Expeditor</a>
            -->
            <a class="navbar-brand" rel="home" href="{{ path('commandes_liste') }}" title="Expeditor">
                <img style="max-width:65px; margin-top: -8px;"
                     src="{{ asset('assets/images/logo.png')}}">
            </a>
        </div>
        
        
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                {% if is_granted('ROLE_MANAGER') %}
                    <li {{ (app.request.attributes.get('_route') == 'commandes_liste') ? ' class="active"' }}><a href="{{ path('commandes_liste')}}">Commandes</a></li>
                    <li {{ (app.request.attributes.get('_route') == 'employes_liste') ? ' class="active"' }}><a href="{{ path('employes_liste')}}">Employés</a></li>
                    <li {{ (app.request.attributes.get('_route') == 'articles_liste') ? ' class="active"' }}><a href="{{ path('articles_liste')}}">Articles</a></li>
                    <li {{ (app.request.attributes.get('_route') == 'statistiques') ? ' class="active"' }}><a href="{{ path('statistiques')}}">Statistiques</a></li>
                {% endif %}
                
                {% if is_granted('ROLE_EMPLOYE') %}
                    <li {{ (app.request.attributes.get('_route') == 'commandes_liste') ? ' class="active"' }}><a href="{{ path('commandes_liste')}}">Commandes</a></li>
                    <li {{ ((app.request.attributes.get('_route') == 'start') or  (app.request.attributes.get('_route') == 'commande_show')) ? ' class="active"' }}><a href="{{ path('start')}}">Traiter une commande</a></li>
                {% endif %}
                
            </ul>
             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                 <p class="text-right">Bonjour {{app.user.username}}<br>
                <a class="btn btn-info btn-xs pull-right" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                </p>
            {% endif %}
        </div><!--/.nav-collapse -->
        
        
    </div><!--/.container-fluid -->
</nav>