{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1> Importer un fichier de commande CSV</h1>
        </div>
    </div>
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-filestyle.min.js') }}"> </script>
    <script>
        /*$(":file").filestyle();*/
    </script>
{% endblock %}

    <div class="row">
        <div class="col-md-6">
            {#
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            #}
            
                {{ form(form) }}
            
        </div>
    </div>
{% endblock %}