{% extends 'base.html.twig' %}

{% block body %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-filestyle.min.js') }}"> </script>
    <script>
        /*$(":file").filestyle();*/
    </script>
{% endblock %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                Liste des commandes
                <!--
                href="{{ path('commandes_import') }}
                -->
                {# <a class="btn btn-success pull-right" data-toggle="modal" data-target="#modalImportCommande">
                    <span class="glyphicon glyphicon-import"></span> Import 
                </a> #}
                {% if is_granted('ROLE_MANAGER') %}
                    <a class="btn btn-success pull-right glyphicon glyphicon-import" href="{{ path('commandes_import') }}">
                        Importer 
                    </a>
                {% endif %}
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr><th>Commande</th><th>Status</th><th>Employé</th> <th>Client</th><th>Date</th>{{ is_granted('ROLE_MANAGER') ? '<th>Action</th>' :""}}</tr>
                {% for commande in commandes %}
                        <tr>
                        <td> {{ commande.numCommande }}</td>
                        <td> {{ commande.etat == 1 ? "En cours" : "En attente" }}</td>
                        <td> {{ commande.etat == 1 ? commande.employe.username : "" }}</td>
                        <td> {{ commande.nomClient }} </td>
                        <td> {{ commande.date|date("d/m/Y") }} </td>
                       {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                <button class="btn btn-primary" {{ commande.etat == 0 ? "style='display:none;'" : "" }} data-toggle="modal" data-target="#myModal{{ commande.id }}">
                                    Libérer la commande
                                </button>
                            </td>
                            <div class="modal fade" id="myModal{{ commande.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ commande.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Commentaire</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ path('commande_free', {'id': commande.id} ) }}" method="get">
                                                <div>
                                                    <label for="message">Commentaire : </label>
                                                    <input type="text" id="message" name="message" />
                                                </div>
                                                <div class="button">
                                                    <button type="submit" class="btn btn-primary">Envoyer votre message</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% endif %}
                        </tr> 
                {% endfor %}
            </table>        
        </div>
    </div>
    
                
                
                
<!-- Modal -->
{#<div class="modal fade" id="modalImportCommande" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Importer commandes</h4>
            </div>
           <form action="{{ path("commandes_import") }}" method="post">
                <div class="modal-body">
                    <input type="file" id="file" name="file" class="filestyle" data-buttonText="Choisir un fichier">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="_submit" name="submit">Importer</button>
                </div>
            </form>
        </div>
    </div>
</div>#}
{% endblock  %}
