{% extends 'base.html.twig' %}

{% block body %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-filestyle.min.js') }}"> </script>
    <script>
        /*$(":file").filestyle();*/
    </script>
{% endblock %}

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-submit" href="{{ path('start') }}">GO !</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>
                Liste des commandes
                <!--
                href="{{ path('commandes_import') }}
                -->
                <a class="btn btn-success pull-right" data-toggle="modal" data-target="#modalImportCommande">
                    <span class="glyphicon glyphicon-import"></span> Import 
                </a>
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr><th>Commande</th><th>Status</th><th>Employé</th><th>Action</th></th></tr>
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.numCommande }}</td>
                        <td>{{ commande.etat == 1 ? "En cours" : "En attente" }}</td>
                        <td>{{ commande.etat == 1 ? commande.employe.username : "" }}</td>
                        <td><a class="btn btn-info" {{ commande.etat == 0 ? "style='display:none;'" : "" }} href="{{ path('commande_free', {'id': commande.id} ) }}">Libérer la commande</a></td>
                    </tr>   
                {% endfor %}
            </table>        
        </div>
    </div>
    
                
                
                
<!-- Modal -->
<div class="modal fade" id="modalImportCommande" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Importer commandes</h4>
            </div>
            <form action="{{ path("commandes_import") }}" method="post">
                <div class="modal-body">
                    <input type="file" id="file" name="file" class="filestyle" data-buttonText="Choisir un fichier">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="_submit" name="submit">Importer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
